.contact {
  justify-content: center;
  width: 100%;
  height: calc(100vh - 16.8vh);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--first-color);
}

.container-contact {
  width: 80%;
  min-height: 29vh;
  margin-top: 24vh;
  margin-bottom: 20px;
  margin-left: 5vw;
}
.container-redes{
  margin-top:3svh;
  display: flex;
  justify-content:space-between;
}

.Nombre,
.Email {
  background-color: var(--content-color);
  width: 100%;
  margin-top: 10px;
  padding: 5px;
}
textarea {
  margin-top: 10px;
  width: 100%;
  height: 10vh;
  resize: none;
  padding: 5px;
}

h4 {
  color: var(--content-color);
  text-align: center;
}

.contact-headings{
  margin: auto;
}
.contact-headings h1 {
  text-align: center;
  color: var(--aux-color);
}

.btn-submit {
  background-image: linear-gradient(
    to right,
    var(--first-color) 0%,
    var(--aux-color) 50%,
    var(--first-color) 80%,
    var(--content-color) 100%
  );
  border: none;
  margin: 5px 25%;
  padding: 15px 45px;
  text-align: center;
  transition: 0.5s;
  background-size: 200%;
  color: white;
  border-radius: 10px;
}

.btn-submit:hover {
  background-position: right center; /* change the direction of the change here */
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
}

.logos{
  max-width: 40px;
  max-height: 40px;
  cursor: pointer;
}

@media screen and (max-width: 520px) {
  .contact {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact-form{
    margin:12vw;
  }
  .container-contact .btn-submit{
    display: block;
    width: 100%;
    margin: 0 auto;
    
  }

}
